
  <p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>
  </div>

  <div class="panel-body">
    <p>
      By <%= @post.user.username %> | <%= image_tag @post.user.avatar.url, size: 30 %>
    </p>

    <p>
      <strong>Blog entry:</strong>
      <%= @post.blog_entry %>
    </p>
  </div>
</div>


    <div class="well">
      <% @post.comments.each do |comment| %>
          <p>
  	          <%= comment.author %> said...<br />
  	          <%= comment.comment_entry %>
  	      </p>
      <% end %>
    </div>
    <div class="panel-footer">

      <p>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-default" %>
      </p>

      <div id="comments">
        <%= render 'comments/form', comment: @comment %>
      </div>
      <p>
        <%= link_to 'Back', posts_path %>
      </p>
    </div>
